<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/master">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
<div class="col-3"></div>
    <div class="container col-6">
        <h1>Edit Product</h1>
        <div class="col-md-auto">
         <form th:object="${product}" th:action="@{/save}" action="#" method="post">
         <input type="hidden" th:field="*{productid}">
                <div>
                    <label th:text="Name" th:for="name"></label>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Name"/>
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label th:text="Image" th:for="image"></label>
                    <input type="file" th:field="*{image}" class="form-control" placeholder="Image"/>
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label th:text="Quantity" th:for="quantity"></label>
                    <input type="text" th:field="*{quantity}" class="form-control" placeholder="Quantity"/>
                </div>
                 <div>
                    <label th:text="Price" th:for="price"></label>
                    <input type="text" th:field="*{price}" class="form-control" placeholder="price"/>
                </div>
                 <div>
                    <label th:text="Status" th:for="status"></label>
                    <input type="text" th:field="*{status}" class="form-control" placeholder="status"/>
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <input type="submit" class="btn btn-success" value="Save"/>
            </form>
        </div>

</div>
</body>
</html>